body {
  font-family: Roboto, "Trebuchet MS", Avenir, sans-serif;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-no-wrap {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-10 {
  flex-basis: 10%;
}

.flex-90 {
  flex-basis: 90%;
}

.height-100 {
  height: 100%;
}

.column-full,
.column-half {
  width: 100%;
}

.column-25 {
  width: 25%;
}

.column-75 {
  width: 75%;
}

.fruit-card {
  flex-basis: 17%;
  align-items: center;
}

.villager-card {
  display: flex;
}

.news-card {
  width: 40%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links li {
    padding: 1rem 1.5rem;
  }

  .hamburger {
    display: none;
  }

  .daily-news-bottom {
    justify-content: center;
    align-items: center;
  }

  .new-villager-input {
    width: 25%;
  }

  .birthday-quote-div {
    margin-bottom: 2rem;
  }

  .event-container {
    justify-content: center;
    align-items: center;
  }

  .slide {
    min-width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .header-bg-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    opacity: 0.8;
  }

  body {
    padding-top: 60px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: end;
    padding: 0.75rem;
  }

  .navbar-links {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
  }

  .navbar-links.active {
    display: flex;
    transform: scale(1, 1);
  }

  .nav-links li:last-child {
    margin-bottom: 0.25rem;
  }

  .home-villager-icon-holder {
    display: none;
  }

  h1,
  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  .new-villager-input {
    width: 40%;
    min-width: 150px;
  }

  .news-card {
    width: 100%;
    margin: 1rem 0;
  }

  .birthday-quote-div {
    margin-bottom: 1rem;
  }

  .news-data {
    margin-left: 0.5rem;
  }

  .slide {
    min-width: 80px;
  }
}

@media screen and (max-width: 400px) {
  h1,
  h2 {
    font-size: 1.1rem;
  }

  .town-form-title {
    width: 100%;
    padding-bottom: 1rem;
  }

  .month-container {
    overflow-x: scroll;
  }
}

@media screen and (max-height: 758px) {
  .container > nav {
    position: relative;
  }

  .collection-modal {
    overflow-y: scroll;
  }

  .modal-content {
    position: absolute;
    top: 5rem;
  }
}

@media screen and (min-height: 758px) {
  .modal {
    align-items: center;
  }
}
