* {
  font-family: Roboto, "Trebuchet MS", Avenir, sans-serif;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-no-wrap {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-10 {
  flex-basis: 10%;
}

.flex-90 {
  flex-basis: 90%;
}

.height-100 {
  height: 100%;
}

.column-full,
.column-half {
  width: 100%;
}

.fruit-card {
  flex-basis: 17%;
}

.villager-card {
  display: flex;
}

.news-card {
  width: 40%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .daily-news-bottom {
    justify-content: center;
    align-items: center;
  }

  .event-container {
    justify-content: center;
    align-items: center;
  }

  .slide {
    min-width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .home-villager-icon-holder {
    display: none;
  }

  h1,
  h2 {
    font-size: 1.25rem;
  }

  nav {
    display: none;
  }

  .news-card {
    width: 100%;
    margin: 1rem 0;
  }

  .news-data {
    margin-left: 0.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .slide {
    min-width: 80px;
  }
}
