* {
  font-family: Roboto, "Trebuchet MS", Avenir, sans-serif;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.column-full,
.column-half {
  width: 100%;
}

.fruit-card {
  flex-basis: 17%;
}

@media screen and (max-width: 768px) {
  .current-villager-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .current-villager-mobile {
    display: none;
  }
}
