body {
  background-color: #f6f6f6;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(0.1rem);
}

.fruit-img {
  max-width: 100%;
  object-fit: contain;
  border: 1px solid #868683;
  border-radius: 5px;
  padding: 0.5rem;
}

.placeholder-img {
  width: 100%;
  height: 305px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.town-form-title {
  font-weight: 500;
  font-size: 2rem;
}

.town-form-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.town-form-input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.town-form-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.light-gray-bg {
  background-color: #f6f6f6;
}

.dark-blue-bg {
  background-color: #007bff;
}

.text-white {
  color: white;
}

.fw-500 {
  font-weight: 500;
}

.mb-1-rem {
  margin-bottom: 1.75rem;
}
