/* All Element CSS */

body {
  background-color: #f6f6f6;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(0.1rem);
}

a {
  text-decoration: none;
  color: white;
}

/* New Town Input Form */

.fruit-img {
  max-width: 100%;
  object-fit: contain;
  border: 1px solid #868683;
  border-radius: 5px;
  padding: 0.5rem;
}

.fruit-card:active {
  transform: translateY(0.1rem);
}

.placeholder-img {
  width: 100%;
  height: 305px;
  object-fit: cover;
  border-radius: 5px;
}

.town-form-title {
  font-weight: 500;
  font-size: 2rem;
}

.town-form-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.town-form-input,
.new-villager-input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.town-form-input {
  width: 100%;
}

.new-villager-input {
  width: 20%;
}

.town-form-btn,
.add-town-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.town-form-btn {
  margin-bottom: 1rem;
}

.villager-card {
  border-radius: 50%;
  width: auto;
  height: auto;
  border: 3px solid darkgray;
  background-color: lightgrey;
}

.villager-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.search-villager-btn {
  background: #007bff;
  font-size: 1.5rem;
  border: 3px solid darkgray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
}

/* View Towns */

.town-hero-img {
  display: flex;
  width: 100%;
  height: 305px;
  border-radius: 5px;
  background-size: cover;
  z-index: 0;
  border: 3px solid #0092e3;
  position: relative;
}

.default-hero-img {
  background-image: url("https://i.pinimg.com/736x/38/8a/d6/388ad6db4a58b8e7fcb63e5f7e1940d9.jpg");
}

.overlay {
  background-color: rgb(0 0 0 / 25%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay-town-btn {
  z-index: 2;
  color: white;
  background-color: rgb(96, 168, 209, 50%);
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
}

/* View Home Page */
.town-fruit-header {
  width: 10%;
  max-width: 60px;
}

.news-divider {
  background-color: #0092e3;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  bottom: 65px;
}

.blue-border-rule {
  border-bottom: 5px solid rgb(0, 146, 227, 50%);
  border-radius: 3px;
}

.free-space {
  margin-bottom: -65px;
}

.gray-border-rule {
  border-bottom: 3px solid lightgray;
}

.gray-dashed-rule {
  border-right: 3px dashed lightgray;
}

.event-hat {
  width: 70px;
  height: 55px;
}

.event-icon {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
}

.event-date {
  border: 3px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: white;
}

.collection-img {
  height: 50px;
  width: 50px;
}

.collection-status {
  flex-basis: 5%;
}

/* Edit Town */

i:hover {
  color: rgb(0, 146, 227);
  cursor: pointer;
}

i:active {
  transform: translateY(0.1rem);
}

/* Progress Bar */

.progress {
  margin: 1rem;
  padding: 2px;
  flex-basis: 95%;
  border-radius: 12px;
  height: 30px;
  background-color: #d9d9d9;
}

.progress .progress-bar {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background-color: #0092e3;

  /* animation: fill-bar 3s infinite; */
}

@keyframes fill-bar {
  from { width: 0%; }
  to { width: 100%; }
}

/* Collections */

.slider-container {
  display: flex;
  padding: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.99);
}

.slider-container:active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  transform: scale(1);
}

.slide {
  background-color: #efe7b9;
  width: 12%;
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fish-icon {
  width: 100%;
  height: 100%;
  padding: 1rem;
  filter: brightness(0) opacity(0.15);
  -webkit-user-drag: none;
}

.fish-card {
  border: 2px solid grey;
  margin-right: -2px;
  margin-bottom: -2px;
}

/* Functional CSS Classes */

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-and-align-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.gap-half-rem {
  gap: 0.5rem;
}

.gap-1-rem {
  gap: 1rem;
}

.gap-2-rem {
  gap: 2rem;
}

.light-gray-bg {
  background-color: #f6f6f6;
}

.dark-blue-bg {
  background-color: #007bff;
}

.light-yellow-bg {
  background-color: #f9f3c0;
}

.text-white {
  color: white;
}

.fw-500 {
  font-weight: 500;
}

.pr-half-rem {
  padding-right: 0.5rem;
}

.pr-1-rem {
  padding-right: 1rem;
}

.pl-1-rem {
  padding-left: 1rem;
}

.pb-1-rem {
  padding-bottom: 1rem;
}

.ptb-1-rem {
  padding: 1rem 0;
}

.pt-1-rem {
  padding-top: 1rem;
}

.pb-4-rem {
  padding-bottom: 4rem;
}

.mb-1-three-quarter-rem {
  margin-bottom: 1.75rem;
}

.mb-1-rem {
  margin-bottom: 1rem;
}

.mb-three-quarter-rem {
  margin-bottom: 0.75rem;
}

.mr-1-rem {
  margin-right: 1rem;
}

.mr-2-rem {
  margin-right: 2rem;
}

.ml-1-rem {
  margin-left: 1rem;
}

.mt-three-quarter-rem {
  margin-top: 0.75rem;
}

.mt-0 {
  margin-top: 0;
}

.mb-quarter-rem {
  margin-bottom: 0.25rem;
}

.mtb-half-rem {
  margin: 0.5rem 0;
}

.mtb-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.fb-5 {
  flex-basis: 5%;
}

.fb-80 {
  flex-basis: 85%;
}

.fb-15 {
  flex-basis: 10%;
}

.br-top-left {
  border-top-left-radius: 5px;
}

.br-top-right {
  border-top-right-radius: 5px;
}

.br-bottom-left {
  border-bottom-left-radius: 5px;
}

.br-bottom-right {
  border-bottom-right-radius: 5px;
}
